sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
    name = "Joey Jiao"
    email = "infra@joeyjiao.dev"
    signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH1x/F7Bzqbxi8lrH8xRF77ZQ9R0csIRRgezlWQ18iLx"
