Host *
{{- if eq .chezmoi.os "darwin" }}
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
    IdentityAgent "~/.1password/agent.sock"
{{- end }}
{{ range $name, $host := .hosts -}}
{{ if ne $name $.chezmoi.hostname }}
Host {{ $name }}
    HostName {{ $name }}
    User {{ $host.user }}
{{ end -}}
{{ end -}}
