{{ if eq .hosttype "hpc" -}}
fpath=(/usr/share/zsh/$ZSH_VERSION/functions /usr/share/zsh/site-functions $fpath)
source {{ .lmod_pkg }}/init/zsh
{{ else -}}
if [[ -x /opt/homebrew/bin/brew ]]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
elif [[ -x /usr/local/bin/brew ]]; then
    eval "$(/usr/local/bin/brew shellenv)"
fi
{{ end -}}
