{{ if eq .hosttype "hpc" -}}
{{ range .hpc_modules -}}
module load {{ . }}
{{ end -}}

export SCRATCH="{{ .scratch }}"

alias cds="cd $SCRATCH"
alias scratch-ls="find $SCRATCH -maxdepth 2 -type f -mtime +10 -printf '%T+ %p\n' | sort"
{{ end -}}
